@using eshop.Models.Home;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eshop</title>
    @*@Styles.Render("~/Content/css")*@
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui.css">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="home" class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <div class="col-md-4 header-middle">
                <form method="post">
                    <input type="search" name="search" placeholder="Search here..." required="">
                    <input type="submit" value=" ">
                    <div class="clearfix"></div>
                </form>
            </div>
            <!-- header-bot -->
            <div class="col-md-4 logo_agile">
                <h1><a href="/Home/Index"><span>E</span>shop <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a></h1>
            </div>
            <!-- header-bot -->
            <div class="col-md-4 agileits-social top_content">
                <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                    <li class="share">Share On : </li>
                    <li>
                        <a href="#" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    <!-- banner -->
    <div class="ban-top">
        <div class="container">
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active menu__item menu__item--current"><a class="menu__link" href="/Home/Index">Home <span class="sr-only">(current)</span></a></li>
                                <li class=" menu__item"><a class="menu__link" href="/Home/About">About</a></li>
                                <li class="dropdown menu__item">
                                    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men's wear <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="agile_inner_drop_nav_info">
                                            <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                                <a href="/Home/Mens"><img src="../Content/images/top2.jpg" alt=" " /></a>
                                            </div>
                                            <div class="col-sm-3 multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/Home/Mens">Clothing</a></li>
                                                    <li><a href="/Home/Mens">Wallets</a></li>
                                                    <li><a href="/Home/Mens">Footwear</a></li>
                                                    <li><a href="/Home/Mens">Watches</a></li>
                                                    <li><a href="/Home/Mens">Accessories</a></li>
                                                    <li><a href="/Home/Mens">Bags</a></li>
                                                    <li><a href="/Home/Mens">Caps & Hats</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3 multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/Home/Mens">Jewellery</a></li>
                                                    <li><a href="/Home/Mens">Sunglasses</a></li>
                                                    <li><a href="/Home/Mens">Perfumes</a></li>
                                                    <li><a href="/Home/Mens">Beauty</a></li>
                                                    <li><a href="/Home/Mens">Shirts</a></li>
                                                    <li><a href="/Home/Mens">Sunglasses</a></li>
                                                    <li><a href="/Home/Mens">Swimwear</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                

                                <li class=" menu__item"><a class="menu__link" href="/Home/Contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="top_nav_right collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">

                <ul class=" navbar-nav menu__list">
                    <li class="menu__item dropdown">
                        <a class="menu__link dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span>Cart <b class=" caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["cart"] != null)
                            {
                                foreach (Item item in (List<Item>)Session["cart"])
                                {
                                    <li>
                                        <a href="@Url.Action("RemoveFromCart", "Home", new { productId=item.Product.ProductId})">@item.Product.ProductName (@item.Quantity) <i class="fa fa-times"></i></a>
                                    </li>
                                }
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Checkout","Home")">Checkout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>


    <div class="page-head_agile_info_w3l">
        <div class="container">
            <h3>Men's <span>Wear  </span></h3>
            <!--/w3_short-->
            <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">

                    <ul class="w3_short">
                        <li><a href="/Home/Index">Home</a><i>|</i></li>
                        <li>Men's Wear</li>
                    </ul>
                </div>
            </div>
            <!--//w3_short-->
        </div>
    </div>

    <!-- banner-bootom-w3-agileits -->
    <div class="banner-bootom-w3-agileits">
        <div class="container">
            <!-- mens -->
            <div class="col-md-4 products-left">
                <div class="filter-price">
                    <h3>Filter By <span>Price</span></h3>
                    <ul class="dropdown-menu6">
                        <li>
                            <div id="slider-range"></div>
                            <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                        </li>
                    </ul>
                </div>
                <div class="css-treeview">
                    <h4>Categories</h4>
                    <ul class="tree-list-pad">
                        <li>
                            <input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Men's Wear</label>
                            <ul>
                                <li>
                                    <input type="checkbox" id="item-0-0" /><label for="item-0-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ethnic Wear</label>
                                    <ul>
                                        <li><a href="/Home/Mens">Shirts</a></li>
                                        <li><a href="/Home/Mens">Caps</a></li>
                                        <li><a href="/Home/Mens">Shoes</a></li>
                                        <li><a href="/Home/Mens">Pants</a></li>
                                        <li><a href="/Home/Mens">SunGlasses</a></li>
                                        <li><a href="/Home/Mens">Trousers</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <input type="checkbox" id="item-0-1" /><label for="item-0-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Party Wear</label>
                                    <ul>
                                        <li><a href="/Home/Mens">Shirts</a></li>
                                        <li><a href="/Home/Mens">Caps</a></li>
                                        <li><a href="/Home/Mens">Shoes</a></li>
                                        <li><a href="/Home/Mens">Pants</a></li>
                                        <li><a href="/Home/Mens">SunGlasses</a></li>
                                        <li><a href="/Home/Mens">Trousers</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <input type="checkbox" id="item-0-2" /><label for="item-0-2"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Casual Wear</label>
                                    <ul>
                                        <li><a href="/Home/Mens">Shirts</a></li>
                                        <li><a href="/Home/Mens">Caps</a></li>
                                        <li><a href="/Home/Mens">Shoes</a></li>
                                        <li><a href="/Home/Mens">Pants</a></li>
                                        <li><a href="/Home/Mens">SunGlasses</a></li>
                                        <li><a href="/Home/Mens">Trousers</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="item-1" checked="checked" /><label for="item-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Best Collections</label>
                            <ul>
                                <li>
                                    <input type="checkbox" checked="checked" id="item-1-0" /><label for="item-1-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> New Arrivals</label>
                                    <ul>
                                        <li><a href="/Home/Mens">Shirts</a></li>
                                        <li><a href="/Home/Mens">Shoes</a></li>
                                        <li><a href="/Home/Mens">Pants</a></li>
                                        <li><a href="/Home/Mens">SunGlasses</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" checked="checked" id="item-2" /><label for="item-2"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Best Offers</label>
                            <ul>
                                <li>
                                    <input type="checkbox" id="item-2-0" /><label for="item-2-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Summer Discount Sales</label>
                                    <ul>
                                        <li><a href="/Home/Mens">Shirts</a></li>
                                        <li><a href="/Home/Mens">Shoes</a></li>
                                        <li><a href="/Home/Mens">Pants</a></li>
                                        <li><a href="/Home/Mens">SunGlasses</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <input type="checkbox" id="item-2-1" /><label for="item-2-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Exciting Offers</label>
                                    <ul>
                                        <li><a href="/Home/Mens">Shirts</a></li>
                                        <li><a href="/Home/Mens">Shoes</a></li>
                                        <li><a href="/Home/Mens">Pants</a></li>
                                        <li><a href="/Home/Mens">SunGlasses</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <input type="checkbox" id="item-2-2" /><label for="item-2-2"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Flat Discounts</label>
                                    <ul>
                                        <li><a href="/Home/Mens">Shirts</a></li>
                                        <li><a href="/Home/Mens">Shoes</a></li>
                                        <li><a href="/Home/Mens">Pants</a></li>
                                        <li><a href="/Home/Mens">SunGlasses</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="col-md-8 products-right">
                <h5>Product <span>Compare(0)</span></h5>
                <div class="sort-grid">
                    <div class="sorting">
                        <h6>Sort By</h6>
                        <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">Default</option>
                            <option value="null">Name(A - Z)</option>
                            <option value="null">Name(Z - A)</option>
                            <option value="null">Price(High - Low)</option>
                            <option value="null">Price(Low - High)</option>
                            <option value="null">Model(A - Z)</option>
                            <option value="null">Model(Z - A)</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="sorting">
                        <h6>Showing</h6>
                        <select id="country2" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">7</option>
                            <option value="null">14</option>
                            <option value="null">28</option>
                            <option value="null">35</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="men-wear-top">

                    <div id="top" class="callbacks_container">
                        <ul class="rslides" id="slider3">
                            <li>
                                <img class="img-responsive" src="../Content/images/banner2.jpg" alt=" " />
                            </li>
                            <li>
                                <img class="img-responsive" src="../Content/images/banner5.jpg" alt=" " />
                            </li>
                            <li>
                                <img class="img-responsive" src="../Content/images/banner2.jpg" alt=" " />
                            </li>

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="men-wear-bottom">
                    <div class="col-sm-4 men-wear-left">
                        <img class="img-responsive" src="../Content/images/bb2.jpg" alt=" " />
                    </div>
                    <div class="col-sm-8 men-wear-right">
                        <h4>Exclusive Men's <span>Collections</span></h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                            ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                            odit aut fugit.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
            @RenderBody()
        </div>

    </div>



    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <div class="col-md-3 footer-left">
                <h2><a href="/Home/Index"><span>E</span>shop </a></h2>
                <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                    <li>
                        <a href="#" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 footer-right">
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>Our <span>Information</span> </h4>
                        <ul>
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="/Home/Mens">Men's Wear</a></li>
                            <li><a href="wo/Home/Mens">Women's wear</a></li>
                            <li><a href="/Home/About">About</a></li>
                            <li><a href="typography.html">Short Codes</a></li>
                            <li><a href="/Home/Contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 sign-gd-two">
                        <h4>Store <span>Information</span></h4>
                        <div class="w3-address">
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Phone Number</h6>
                                    <p>+1 234 567 8901</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Email Address</h6>
                                    <p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Location</h6>
                                    <p>
                                        Broome St, NY 10002,California, USA.

                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <p class="copy-right">&copy 2020 Elite shoppy. All rights reserved to <a>Omar Elghaieb</a></p>
        </div>
    </div>
    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <script src="~/Content/js/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <script type='text/javascript'>
    //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [1000, 7000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        });//]]>

    </script>

    <script type="text/javascript" src="~/Content/js/jquery-ui.js"></script>
    <!---->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
</body>
</html>
